<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="NorthwindChineseEntities" connectionString="metadata=res://*/DAL.NorthwindChinese.csdl|res://*/DAL.NorthwindChinese.ssdl|res://*/DAL.NorthwindChinese.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;initial catalog=NorthwindChinese;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>