<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LinqToQuery.DBTest.Properties.Settings.LinqToQueryConnectionString"
        connectionString="Data Source=(localdb)\v11.0;Initial Catalog=LinqToQuery;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="NorthwindChineseConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=NorthwindChinese;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NorthwindChineseEntities" connectionString="metadata=res://*/DAL.NorthwindChinese.csdl|res://*/DAL.NorthwindChinese.ssdl|res://*/DAL.NorthwindChinese.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;initial catalog=NorthwindChinese;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>